@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.container-general {
  width: 100%;
}

/* HEADER */

.header {
  background-color: #fff159;
  padding: 1rem;
}

.search-form {
  display: flex;
  max-width: 510px;
  margin: 0 auto;
}

.search-input {
  padding: 12px;
  flex-grow: 1;
  margin-right: 1rem;
}

.search-button{
  font-weight: bold;
  padding: 12px 35px;
}

.search-input, .search-button {
  border: 1px solid #000000;
  border-radius: 4px;
}

/* SECTION - GENERAL */

.section-general {
  max-width: 510px;
  margin: 0 auto;
  padding: 0 1rem;
}

@media(min-width:769px){
  .section-general  {
    padding: 0;
  }
}

.title-section{
  font-weight: normal;
}

.article {
  border: 1px solid #000000;
  border-radius: 4px;
  display: flex;
  margin-bottom: 21px;
}

.article-link {
  text-decoration: none;
  color: black;
}

.article > .article-img {
  max-width: 110px;
  max-height: 140px;
  margin-right: 0.5rem;
  padding: 1.2rem;
  border-radius: 10px;
  object-fit: cover;
}

.article-content {
  display: flex;
  flex-direction: column;
  padding: 15px 0;
}

.article-content > h4 {
  margin: 0;
  font-size: 14px;
}

@media(min-width:769px){
  .article-content > h4 {
    font-size: 1rem;
  }
}

.article-content > .article-sell {
  margin-top: 30px;
}

.article-price {
  font-size: 1.3rem;
  font-weight: bold;
  color: #5791A4;
  padding: 15px 10px 0 10px;
}

@media(min-width:769px){
  .article-price{
    font-size: 1.75rem;
  }
}